@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="hero-section">
        @{
            Html.RenderAction("Slider", "Home");
        }
</section>
<section class="add-section spad">
    <div class="container">
        @{
           Html.RenderAction("Banner", "Home");
       }
    </div>
</section>
<section class="recipes-section spad pt-0">
    <div class="container">
        <div class="section-title">
            <h2>En Güncel Ürünlerimiz</h2>
        </div>
        <div class="row">
            @{
                Html.RenderAction("EnsonEklenenUruler", "Home");
            }
        </div>
    </div>
</section>