@model IEnumerable<Kurumsal.Models.HizmetKategori>
@using Kurumsal.Helper;
@{ Layout = null; }
@{ ViewBag.Title = "Kategori Listesi"; }



@foreach (var item in Model)
{
<a href="/ÜrünPost/@SeoHelper.ToSeoUrl(item.HizmetKategoriAdi).ToLower()/@item.HizmetKategoriId">
    <option>
        @item.HizmetKategoriAdi
    </option>
</a>

                }


